
<!DOCTYPE html>
<!-- saved from url=(0033)http://localhost:53251/Home/Index -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Kozzmos !</title>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <script src="~/Content/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="~/Content/css/blog-home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />

    <link rel="~/Uploads/favicon.ico">

    <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            /*background-color: red;*/
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #555;
            }
    </style>



    <script>


        var expandCollapse = function () {
            if ($(window).width() < 599) {
                document.getElementById("sliderhidden").style.display = "none";
            }
            else {
                document.getElementById("sliderhidden").style.display = "block";
            }
        }
        $(window).resize(expandCollapse); // calls the function when the window first loads


        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 4,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true

            });
            $('.play').on('click', function () {
                owl.trigger('play.owl.autoplay', [1000])
            })
            $('.stop').on('click', function () {
                owl.trigger('stop.owl.autoplay')
            })
        });




        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
                document.getElementById("navFix").style.display = "none";
            } else {
                document.getElementById("myBtn").style.display = "none";
                document.getElementById("navFix").style.display = "block";
            }

        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</head>
<body style="font-family:'Century Gothic'" id="page-top">
    <button onclick="topFunction()" class="bg-danger animated bounceInDown" id="myBtn" title="Başa Dön"><i class="fas fa-angle-up"></i></button>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top" id="navFix" style="font-family:'Century Gothic'">
            <div class="container">
                <a class="navbar-brand" style="color:black;  font-size:25px;" href="/Home/Index"><img src="~/Images/shuttle3-512.png" height="35" width="35" />  KOZZMOS !</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="font-family:'Century Gothic'" class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/Home/Index">
                                Ana Sayfa
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Hakkinda">Hakkında</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Iletisim">İletişim</a>
                        </li>
                        @if (Session["uyeid"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Uye/Index/@Session["uyeid"]" style="color:black;">@Session["kullaniciadi"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Uye/Logout">Çıkış</a>
                            </li>
                            if (Convert.ToInt32(Session["yetkiid"]) == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Admin/Index" target="_blank">Admin Paneli</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Uye/Login" >Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Uye/Create" >Kayıt Ol</a>
                            </li>
                        }
                    </ul>
                </div>



            </div>

        </nav>
  
        @{Html.RenderAction("sliderPartial", "Home");}
    
    <div class="container" style="font-family:'Century Gothic';">

        <div class="row">
            <div class="col-md-8">

                <!--İçerik-->
                @RenderBody()


            </div>
            <!-- Sidebar Widgets Column -->
            <div style="font-family:'Century Gothic'; " class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header bg-danger text-white">Sitede Ara</h5>
                    <div class="card-body">
                        @Html.Partial("AraPartial")
                    </div>
                </div>

                <!-- Categories Widget -->
                @{
                    Html.RenderAction("KategoriPartial", "Home");
                }
                <!-- Side Widget -->

                <div style="font-family:'Century Gothic'" class="card my-4">
                    <h5 class="card-header bg-danger text-white">Günlük Özdeyiş</h5>
                    <div class="card-body">
                        "Eğer bir işi halletmek için birden fazla olasılık varsa ve bu olasılıklardan biri istenmeyen sonuçlar veya felaket doğuracaksa; kesinlikle bu olasılık gerçekleşecektir."
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- /.row -->
    <!-- /.container -->
    <!-- Footer -->

    <footer class="py-3  bg-danger " style="font-family:'Century Gothic';">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © Website @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->


    </footer>

    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Content/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</body>
</html>