@using (Html.BeginForm("BlogAra","Home",FormMethod.Post, new {ectype="multipart/form-data" }))
{
<div class="input-group">
    <input type="text" class="form-control" id="Ara" name="Ara" placeholder="ara...">
    <span class="input-group-btn">
        <button class="btn btn-danger" type="submit">ARA</button>
    </span>
</div>
}


